---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>Page not found :(</strong></p>
  <p>
    You missed!
    </p>
  <blockquote>
    The worst thing that could happen is that I laugh and point at you.
    <br />-- My 11<sup>th</sup> grade engineering teacher
    </blockquote>
  
</div>
