---
layout: page
title: Home
permalink: /home-redir/
---

<meta http-equiv="refresh" content="0; URL='https://danielrparks.gitlab.io/'" />

<p>
	Redirecting to <a href="https://danielrparks.gitlab.io/">danielrparks.gitlab.io</a>...
</p>
<script>
	window.location = "https://danielrparks.gitlab.io/";
</script>
