---
---

@import "minima";

.site-header, .site-footer {
	background-color: #e4e4e4;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
  color: #636363;
}

a:visited {
  color: #adadad;
}

.figcontainer {
	text-align: center;
	display: block;
}

figure.image {
	display: inline-block;
	text-align: center;
}

figcaption {
	font-style: italic;
}

// Hack to allow wrapping only some code
.codewrap > figure.highlight > pre {
	white-space: pre-wrap;
}

.sidebyside {
	display: flex;
	overflow-y: auto;
	margin-bottom: 1em;
}

.sidebyside > .container {
	flex: 1;
}
